.pictureBlock {
  position: relative;
  height: 220px;

  img {
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1071px) {
  .pictureBlock {
    width: 480px;
    height: 100%;
    img {
      border-radius: 16px 0 0 16px;
    }

  }

}