$content-color: #4B4B4B;
.contentDescription {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .contentText {
    width: 245px;
    font-weight: 300;
    font-size: 14px;

    color: $content-color;
  }
}

@media screen and (min-width: 1071px) {
  .contentDescription {
    .contentText {
      width: max-content;
      font-weight: 400;
      font-size: 18px;
    }
  }
}
