$time-label-color: #D9E8FF;
.departureTimes{
  margin: 5px 17px 5px 47px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .timeInstance {
    cursor: pointer;
    margin: 3px;
    width: 63px;
    height: 24px;
    font-weight: 400;
    font-size: 14px;
    color: #343434;
    background: $time-label-color;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: #6BA6FF;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

@media screen and (min-width: 1071px) {
  .departureTimes {
    .timeInstance {
      width: 73px;
      height: 28px;
    }
  }
}

